
# Playwright
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
allure-report/
allure-results/

# Logs
logs/

.env*
!.env.example

dws-report/reports/
dws-report/__pycache__/
